.srp-gallery {
  @extend .orbit;

  margin-bottom: 1rem;

  .orbit-controls button {
    color: $blue;

    &:hover {
      background-color: $blue;
      color: $white;
    }
  }
  ul {
    @extend .orbit-container;

    li {
      @extend .orbit-slide;

      figure {
        @extend .orbit-figure;

        text-align: center;

        img {
          @extend .orbit-image;

          height: auto;
          width: auto;
          max-height: 400px;
          // max-width: 100vw;
        }

        figcaption {
          @extend .orbit-caption;

          position: relative;
          color: black;
          background: none;

          font-size: 13px;
          color: #555d66;
          margin-bottom: 1em;
          padding: 0;
        }
      }
    }
  }
}
