form#searchform {
  .input-group-button {
    display: none;
  }

  .search-dash {
    @include large-header;
    color: $black;
    padding-right: 6px;
  }

  input {
    border: none;
    box-shadow: none;
    padding: 0;

    line-height: $paragraph-lineheight;

    color: $gray;

    @include large-header;

    &:before {
      content: "|";
      color: $black;
    }
  }
}


#menuModal form#searchform {
  .search-dash,
  input {
    @include large-header;

    @include breakpoint(medium) {
      @include giant-header;
    }

  }

  // input {
  //   @include giant-header;
  // }
}
