//
//
// mixins
//
//
@mixin bubble-tag {
  font-family: $header-font-family;
  font-size: 16px;
  border: 2px solid $black;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border-radius: 2rem;
  margin-right: 0.4rem;
  display: inline-block;
  margin-bottom: 0.5rem;


  @include breakpoint(medium) {
    font-size: 18px;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 0.8rem;
  }

  &:hover {
    border: 2px solid $blue;
  }

  &.active {
    border: 2px solid $blue;
    background-color: $blue;
    color: $white;

    @include breakpoint(medium) {
      border: 2px solid $blue;
      background: none;
      color: $blue;
    }
  }

  &:last-of-type {
    margin-right: 0;
  }
}


@mixin text-tag {
  text-decoration: underline;

  &:hover {
    color: $blue;
  }

  &:after {
    content: ", ";
    color: $black;
    text-decoration: none;
    display: inline-block;
  }

  &:last-of-type {
    &:after {
      content: none;
    }
  }
}

@mixin bubble-tags-block {
  a.tag {
    @include bubble-tag;
  }

  p.tags.standard .tags-label {
    display: none;
  }
}

@mixin list-tags-block {
  p.tags {
    @include normal-header;

    line-height: 1.2;


    a.tag {
      @include text-tag;
    }
  }
}


@mixin giant-header {
    font-family: $header-font-family;
    font-size: 60px;
    text-transform: uppercase;

}

@mixin huge-header {
    font-family: $header-font-family;
    font-size: 48px;
    text-transform: uppercase;

}

@mixin large-header {
    font-family: $header-font-family;
    font-size: 31px;
    text-transform: uppercase;
    line-height: 1.2;

    @include breakpoint(330) {
      font-size: 32px;
    }

    @include breakpoint(998) {
      font-size: 36px;
      line-height: 1.4;
    }
}

@mixin big-header {
    font-family: $header-font-family;
    font-size: 30px;
    text-transform: uppercase;
}

@mixin normal-header {
  font-family: $header-font-family;
  font-size: 18px;
  text-transform: none;
}


@mixin small-full-width-cell {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

@mixin main-content {
  @include xy-cell(12);

  @include breakpoint(small only) {
    @include small-full-width-cell;
  }

  @include breakpoint(medium) {
    @include xy-cell(8);
  }

  &.without-sidebar {
    @include breakpoint(medium) {
      @include xy-cell-offset(4);
    }

  }
}

@mixin sidebar-content {
  @include xy-cell(12);

  @include breakpoint(small only) {
    @include small-full-width-cell;
  }

  @include breakpoint(medium) {
    @include xy-cell(4);
  }
}

// FIXME: DEPRECATED
@mixin search-field {
  &.search {
    color: $gray;

    &:before {
      content: "|";
      color: $black;
    }
  }
}


//
//
// BODY
//
//
body {
  padding-top: 1rem;

  @include breakpoint(medium) {
    padding-top: 0;
  }
}

//
//
// PUBLICATION
//
//
@mixin publication-formatting {
  a {
    text-decoration: underline;

    &:hover {
      color: $blue;
      text-decoration: line-through;
    }
  }

  h2 {
    @include huge-header;
  }

  figure figcaption {
    text-align: left;
  }

  iframe {
    border: none;
  }
}


//
//
// headers
//
//
h1 {
  @include huge-header;
}

h2 {
  @include large-header;
}

.main-container {
  @extend .grid-container;
  @extend .full;

  @include breakpoint(medium) {
    margin-left: 4rem;
  }
}


.main-grid {
  @include xy-grid;

  margin-top: 1rem;

  .main-content {
    @extend .small-order-2;
  }

  .sidebar {
    @extend .small-order-1;
  }

  //
  //
  // MAIN CONTENT
  //
  //

  //
  // HEADER
  //
  .main-content > header {
    @extend .cell;
    @extend .small-12;

  }

  //
  // PAGE-CONTENT
  //
  .page-content {
    @extend .cell;
    @extend .small-12;
  }

  //
  // COMMON
  //
  .main-content {
    @include main-content;

    margin-left: 0;
  }

  //
  // FULL WIDTH
  //
  .main-content-full-width {
    @extend .cell;
    @extend .small-12;
  }


  //
  // MAIN CONTENT TEXT
  //
  .main-content.standard,
  .main-content.person,
  .main-content.group,
  .main-content.community {

    @include breakpoint(small only) {
      @include xy-cell(12);
      width: 100%;
    }

    > article header h2 {
      @include show-for(medium);
    }

    .entry-content {
      @include publication-formatting;
    }
  }

  //
  // MAIN CONTENT INDEX
  //
  .main-content.index {
    @include xy-grid;

    padding-top: 0;

    @include breakpoint(small only) {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }

    @include breakpoint(medium) {
      padding-top: 2.85rem;
    }

    article.preview {
      @include xy-cell(12);

      @include breakpoint(medium) {
        @include xy-cell(6);
      }

      // margin: 1rem;
      padding: 0.5rem;
      border: 2px solid $black;
      text-align: center;

      margin-bottom: map-get($grid-margin-gutters, small);

      @include breakpoint(medium) {
        margin-bottom: map-get($grid-margin-gutters, medium);
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 200px;
        filter: grayscale(100%);

        &:hover {
          filter: none;
        }
      }

      h3 {
        @include normal-header;

        margin-top: 0.5rem;
      }

      p {
        text-align: justify;
        // line-height: 1.4;
        // font-size: 13px;
        // color: grey;
      }
    }
  }

  //
  //
  // MAIN CONTENT: ABOUT
  //
  //
  .main-content-full-width.about {
    @include xy-grid();

    header {
      @extend .cell;
      @extend .small-12;
      @extend .medium-8;

      @extend .medium-offset-4;

      h1 {
        @include large-header;
      }

      @include breakpoint(medium) {
        padding-left: map-get($grid-margin-gutters, small);
      }

    }
    .entry-content {
      @include xy-grid-container(auto, 0);

      @include publication-formatting;

      // padding-left: 0;
      // padding-right: 0;
    }

    .wp-block-columns {
      @include xy-grid();

      .wp-block-column {
        flex: none;
        flex-basis: auto;
        margin-left: 0;
        margin-right: 0;

        &:first-of-type {
          @include sidebar-content;

          @extend .small-order-2;
          @extend .medium-order-1;

        }

        &:last-of-type {
          @include main-content;
          @extend .small-order-1;
          @extend .medium-order-2;
        }
      }
    }
  }

  //
  // COMMUNITY / MAIN CONTENT
  //
  .main-content.community {
    padding-top: 0.75rem;

    h2 {
      @include large-header;
    }
    h3 {
      text-decoration: underline;
    }
  }

  //
  //
  // SIDEBAR STYLES
  //
  //
  .sidebar {
    @include sidebar-content;
  }

  //
  //
  // INDEX SIDEBAR
  //
  //
  .sidebar.index {
    @include bubble-tags-block;

    padding-top: 0.75rem;

    h2 {

      margin-bottom: 0;

      a {
        text-decoration: underline;
      }


      @include breakpoint(medium) {
        margin-bottom: 1rem;
        a {
          text-decoration: none;
        }

      }



      // &:last-of-type {
      //   margin-bottom: 0.7rem;
      // }

    }

    //
    // SEARCH SIDEBAR
    //
    &.search {
      padding-top: 0.75rem;
    }

    &.home {
      h2.home-link {
        @include breakpoint(small only) {
           display: none;
        }
      }
    }
  }


  //
  //
  // TEXT SIDEBAR
  //
  //
  .sidebar.standard {

    @include breakpoint(small only) {
      @include list-tags-block;
    }

    @include breakpoint(medium) {
      @include bubble-tags-block;
    }

    font-family: $header-font-family;
    font-size: 18px;

    @include breakpoint(medium) {
      font-size: 24px;
      line-height: 1.1;
    }

    padding-top: 1.7rem;

    header.small-title {
      @include hide-for(medium);

      margin-bottom: 1rem;
    }

    .authors {
      line-height: 1.1;
      margin-bottom: 1rem;

      @include breakpoint(medium) {
        margin-bottom: 1rem;
      }

      a {

        &:after {
          content: ", "
        }

        &:last-of-type {
          &:after {
            content: ""
          }
        }
      }
    }

    time {
      margin-bottom: 0.8rem;
      display: block;
    }
  }

  //
  // COMMUNITY SIDEBAR
  //
  .sidebar.community {
    padding-top: 0.75rem;

    h3 {
      text-decoration: underline;
    }
  }

  //
  // PERSON & GROUP SIDEBAR
  //
  .sidebar.person,
  .sidebar.group {
    // padding-top: 0.75rem;
    font-family: $header-font-family;

    h2 {
      @include large-header;

      text-decoration: underline;
      text-transform: uppercase;

      &.active {
        text-decoration: none
      }
    }

    header.small-title {
      @include hide-for(medium);

      h2 {
        text-decoration: none;
        display: inline-block;

      }

      a {
        text-decoration: underline;
      }
    }

    h1.community-link,
    h1.community-link a {
      @include large-header;
    }

    .groups-label,
    .people-label {
      @include show-for(medium)
    }

    .community-link,
    .people,
    .groups {
      margin-bottom: 3rem;

      @include show-for(medium);

      a {
        font-size: 30px;
        line-height: 1.2;

        &.active {
          color: $blue;
        }

        &:after {
          content: ", ";
          color: $black;
        }

        &:last-of-type {
          &:after {
            content: "";
          }
        }
      }
    }
  }
}

//
//
// MISC
//
//
.srp-social-links {

  a {
    color: #cacaca;
  }
}
