//
//
// mixins
//
//
@mixin tags-block {
  p.tags {

  }

  a.tag {
    font-family: $header-font-family;
    font-size: 18px;
    border: 2px solid $black;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 2rem;
    margin-right: 0.8rem;
    display: inline-block;
    margin-bottom: 0.5rem;

    &:hover {
      border: 2px solid $blue;
    }

    &.active {
      border: 2px solid $blue;
      color: $blue;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}

@mixin giant-header {
    font-family: $header-font-family;
    font-size: 60px;
    text-transform: uppercase;

}

@mixin huge-header {
    font-family: $header-font-family;
    font-size: 48px;
    text-transform: uppercase;

}

@mixin large-header {
    font-family: $header-font-family;
    font-size: 36px;
    text-transform: uppercase;
}

@mixin big-header {
    font-family: $header-font-family;
    font-size: 30px;
    text-transform: uppercase;
}

@mixin normal-header {
  font-family: $header-font-family;
  font-size: 18px;
  text-transform: none;
}

@mixin main-content {
  @include breakpoint(small) {
    @include xy-cell(12);
  }

  @include breakpoint(medium) {
    @include xy-cell(8);
  }

  &.without-sidebar {
    @include breakpoint(medium) {
      @include xy-cell-offset(4);
    }

  }
}

@mixin sidebar-content {
  @include breakpoint(small) {
    @include xy-cell(12);
  }

  @include breakpoint(medium) {
    @include xy-cell(4);
    // margin-top: 1rem;
  }
}

// FIXME: DEPRECATED
@mixin search-field {
  &.search {
    color: $gray;

    &:before {
      content: "|";
      color: $black;
    }
  }
}

//
//
// headers
//
//
h1 {
  @include huge-header;
}

h2 {
  @include large-header;
}

.main-container {
  @include xy-grid-container;

  margin-left: 4rem;
}


.main-grid {
  @include xy-grid();
  margin-top: 1rem;

  @include breakpoint(medium) {
  }

  &.sidebar-left {
    // Place the sidebar below main content on small screens ...
    @include breakpoint(small) {
      .main-content { order: 1; }
      .sidebar { order: 2; }
    }

    // ... and to the left on medium-up screens, when using the sidebar-left template
    @include breakpoint(medium) {
      .main-content { order: 2; }
      .sidebar { order: 1; }
    }
  }

  //
  //
  // MAIN CONTENT
  //
  //

  //
  // HEADER
  //
  .main-content > header {
    @include xy-cell(12);

  }

  //
  // PAGE-CONTENT
  //

  .page-content {
    @include xy-cell(12);
  }

  //
  // COMMON
  //
  .main-content {
    margin-left: 0;

    @include main-content;
  }

  //
  // FULL WIDTH
  //
  .main-content-full-width {
    @include xy-cell(12);
  }


  //
  // MAIN CONTENT TEXT
  //
  .main-content.standard,
  .main-content.person,
  .main-content.group,
  .main-content.community {
    h2 {
      @include huge-header;
    }

    figure figcaption {
      text-align: left;
    }
  }

  //
  // MAIN CONTENT INDEX
  //
  .main-content.index {
    @include xy-grid();
    padding-top: 2.85rem;

    article.preview {
      @include xy-cell(6);

      // margin: 1rem;
      padding: 0.5rem;
      border: 2px solid $black;
      text-align: center;

      margin-bottom: map-get($grid-margin-gutters, medium);

      @include breakpoint(medium) {
        margin-bottom: map-get($grid-margin-gutters, medium);
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 200px;
        filter: grayscale(100%);

        &:hover {
          filter: none;
        }
      }

      h3 {
        @include normal-header;

        margin-top: 0.5rem;
      }

      p {
        text-align: justify;
        // line-height: 1.4;
        // font-size: 13px;
        // color: grey;
      }
    }
  }

  //
  //
  // MAIN CONTENT: ABOUT
  //
  //
  .main-content-full-width.about {
    .entry-content {
      @include xy-grid-container(auto, 0);

      // padding-left: 0;
      // padding-right: 0;
    }

    .wp-block-columns {
      @include xy-grid();

      .wp-block-column {
        flex: none;
        flex-basis: auto;
        margin-left: 0;
        margin-right: 0;

        &:first-of-type {
          @include sidebar-content;
        }

        &:last-of-type {
          @include main-content;
        }
      }
    }
  }

  //
  // COMMUNITY / MAIN CONTENT
  //
  .main-content.community {
    padding-top: 0.75rem;

    h2 {
      @include large-header;
    }
    h3 {
      text-decoration: underline;
    }
  }

  //
  //
  // SIDEBAR STYLES
  //
  //
  .sidebar {
    @include sidebar-content;
  }

  //
  //
  // INDEX SIDEBAR
  //
  //
  .sidebar.index {
    @include tags-block;

    padding-top: 0.75rem;

    h2 {
      margin-bottom: 1rem;

      // &:last-of-type {
      //   margin-bottom: 0.7rem;
      // }

      // @include search-field;
    }

    //
    // SEARCH SIDEBAR
    //
    &.search {
      padding-top: 0.75rem;
    }
  }


  //
  //
  // TEXT SIDEBAR
  //
  //
  .sidebar.standard {

    @include tags-block;

    font-family: $header-font-family;
    font-size: 24px;

    padding-top: 1rem;


    .authors {
      line-height: 1.1;
      margin-bottom: 1rem;

      a {

        &:after {
          content: ", "
        }

        &:last-of-type {
          &:after {
            content: ""
          }
        }
      }
    }

    time {
      margin-bottom: 0.8rem;
      display: block;
    }
  }

  //
  // COMMUNITY SIDEBAR
  //
  .sidebar.community {
    padding-top: 0.75rem;

    h3 {
      text-decoration: underline;
    }
  }

  //
  // PERSON & GROUP SIDEBAR
  //
  .sidebar.person,
  .sidebar.group {
    padding-top: 0.75rem;
    font-family: $header-font-family;

    h2 {
      @include large-header;

      text-decoration: underline;
      text-transform: uppercase;

      &.active {
        text-decoration: none
      }

    }

    h1.community-link,
    h1.community-link a {
      @include large-header;
    }

    .community-link,
    .people,
    .groups {
      margin-bottom: 3rem;

      a {
        font-size: 30px;
        line-height: 1.2;

        &.active {
          color: $blue;
        }

        &:after {
          content: ", ";
          color: $black;
        }

        &:last-of-type {
          &:after {
            content: "";
          }
        }
      }
    }
  }
}
